#  Исключить виртуальные окружения
  #venv/
  #env/
  #
  ## Исключить файлы данных (json), если не хотите их отслеживать
  ## Или оставьте, если хотите хранить фильмы
  ## .movies.json
  #
  ## Исключить все файлы и папки pycache
  #__pycache__/
  #*.pyc
  #*.pyo
  #
  ## Исключить системные файлы MacOS
  #.DS_Store
  #
  ## Исключить файлы редакторов (например, если используете VSCode или PyCharm)
  #.vscode/
  #.idea/
  #
  ## Исключить файлы логов или временные файлы
  #*.log
  #*.tmp
*
